
<div
  class="row max-width strip"
  id="movie-details"
  *ngIf="!movieDetails.isPlayingVideo"
  [ngStyle]="{
    'background-image': 'url(' + movieDetails.placeholderScene + ')'
  }"
>
  <div class="gradient-overlay"></div>
  <a href="/movies/{{page}}">
    <div
      style="position: absolute; top:10%; left:3%; z-index:5; cursor: pointer;"
    >
      <span><i class="fa fa-arrow-left"></i></span
      ><span style="margin-left: 10px;">Back</span>
    </div>
  </a>
  <div
    class="text-center"
    style="position: absolute; top:35%; margin:auto; left:45%;"
  >
    <div><b>2hr 30mins</b></div>
    <div id="play-button" (click)="playVideo(movieDetails.id)">
      <i class="fa fa-play fa-2x" style="transform: translateX(3px);"></i>
    </div>
  </div>
  <div class=" " id="description" style=" padding: 0 5% 0 2.5%">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div style="position: relative;" class="max-width">
              <div class="rating">
                <div>{{ movieDetails.rating }}</div>
              </div>
              <div style="position: absolute; top:25%; left:50px;">
                <p>RATING</p>
              </div>
            </div>
            <div
              style="font-size:0.8em; margin-top:10px;  word-spacing: 0.2em;"
            >
              <span class="genre" *ngFor="let genre of movieDetails.genres">
                <span><b> | </b></span><span>{{ genre }}</span>
              </span>
            </div>
            <div id="title" class="underline" style="margin: 10px 0;">
              <h1
                style="margin-top:0 !important; padding-top:0 !important;"
                class="title-underlined"
              >
                <b>{{ movieDetails.title }}</b>
              </h1>
            </div>
            <div style="font-size:0.8em; word-spacing: 0.1em;">
              2019 <b> | </b> English <b>| US</b>
            </div>
            <div class="director" style="margin-top:10px; word-spacing: 0.1em;">
              <span class="color-red"><b>DIRECTOR</b></span
              ><span style="margin-left:10px">{{ movieDetails.director }}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div id="starring" style="margin-top:20%;">
              <div class="color-red"><b>STARRING</b></div>
              <div>
                {{ movieDetails.starring }}
              </div>
            </div>
            <div id="awards" class="inline" style="margin-top:20px;">
              <div class="color-red"><b>AWARDS</b></div>
              <div style="margin-left:10px">
                {{ movieDetails.awards }}
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-md-12">
            <p>
              {{ movieDetails.plot }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div
            class="inline favourite"
            *ngIf="!isFavourite(movieDetails.id)"
            (click)="addToFavourites(movieDetails.id)"
          >
            <div class="button button-rounded text-center">
              <i class="fa fa-heart" style="margin:auto; margin-top:30%;"></i>
            </div>
            <div style="margin-left:10px;"><p>ADD TO FAVOURITE</p></div>
          </div>
          <div
            class="inline favourite"
            *ngIf="isFavourite(movieDetails.id)"
            (click)="addToFavourites(movieDetails.id)"
          >
            <div
              class="button button-rounded color-yellow button-yellow text-center"
            >
              <i class="fa fa-heart" style="margin:auto; margin-top:30%;"></i>
            </div>
            <div class="color-yellow" style="margin-left:10px;">
              <p>ADDED TO FAVOURITE</p>
            </div>
          </div>
        </div>
        <div class="row" style=" margin-top: 30px;">
          <div><b>OTHERS YOU MAY LIKE</b></div>
          <div id="related-list" class="overflow-scroll">
            <div
              class="related-item"
              *ngFor="let detail of related"
            >
              <a href="/movies/{{page}}/{{ detail.id }}">
                <div
                  id="image"
                  [ngStyle]="{
                    'background-image': 'url(' + detail.imageUrl + ')'
                  }"
                ></div>
                <div id="title" class="text-center">
                  <p>{{ detail.title }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="row max-width strip"
  id="movie-details"
  *ngIf="movieDetails.isPlayingVideo"
>
  <a href="/movies/{{ movieDetails.id }}">
    <div
      style="position: absolute; top:10%; left:3%; z-index:5; cursor: pointer;"
    >
      <span><i class="fa fa-arrow-left"></i></span
      ><span style="margin-left: 10px;">Back</span>
    </div>
  </a>
  <video
    class="max-width"
    style="height:100vh; margin-top:0px;"
    controls
    autoplay
  >
    <source src="{{ movieDetails.video }}" type="video/mp4" />
    <source src="{{ movieDetails.video }}" type="video/mkv" />
    Your browser does not support the video tag.
  </video>
</div>
