<div *ngIf="movie != null && movie != undefined">
  <div
    class="image"
    style="text-align: center;"
    [ngStyle]="{ 'background-image': 'url(' + movie.imageUrl + ')' }"
  ></div>
  <div class="inline" style="margin-top:10px">
    <div class="title">
      <b>{{ movie.title }}</b>
    </div>
    <!--
            -->
    <div class="year">{{ movie.year }}</div>
  </div>
  <span class="genre" *ngFor="let genre of movie.genres">
    <span><b> | </b></span>
    <span>{{ genre }}</span>
  </span>
  <div>
    <button
      [routerLink]="['/movies', movie.id]"
      class="button button-default pull-left"
    >
      WATCH
    </button>
    <button
      class="button button-rounded button-yellow pull-right"
      (click)="handleOnWatch(movie.title)"
    ></button>
  </div>
</div>
