<!-- <div *ngIf="(page==='favourites'&&movie.isFavourite && movie != null && movie != undefined) ">
  <div style="position:absolute; top:-20px; left:40%; font-size:0.8em;">
      <div class="rating">
          <div>{{ movie.rating }}</div>
        </div>
  </div>
<div
  class="image"
  style="text-align: center;"
  [ngStyle]="{ 'background-image': 'url(' + movie.imageUrl + ')' }"
></div>
<div class="inline" style="margin-top:10px">
  <div class="title">
    <b>{{ movie.title }}</b>
  </div>

  <div class="year">{{ movie.year }}</div>
</div>
<span class="genre" *ngFor="let genre of movie.genres">
  <span><b> | </b></span>
  <span>{{ genre }}</span>
</span>
<div>
  <button
    [routerLink]="['/movies/'+page, movie.id]"
    class="button button-default pull-left"
  >
    WATCH
  </button>
  <button
    class="button button-rounded color-yellow button-yellow pull-right"
    *ngIf="isFavourite(movie.id)&&isAuthenticated"
    (click)="addToFavourites(movie.id,movie.isFavourite,movie.title)"
  >
    <i class="fa fa-heart"></i>
  </button>
  <button
    class="button button-rounded  pull-right"
    (click)="addToFavourites(movie.id,movie.isFavourite,movie.title)"
    *ngIf="!isFavourite(movie.id)&&isAuthenticated"
  >
    <i class="fa fa-heart"></i>
  </button>
</div>
</div> -->
<div *ngIf=" movie != null && movie != undefined">
    <div style="position:absolute; top:-20px; left:40%; font-size:0.8em;">
        <div class="rating">
            <div>{{ movie.rating }}</div>
          </div>
    </div>
  <div
    class="image"
    style="text-align: center;"
    [ngStyle]="{ 'background-image': 'url(' + movie.imageUrl + ')' }"
  ></div>
  <div class="inline" style="margin-top:10px">
    <div class="title">
      <b>{{ movie.title }}</b>
    </div>
    <!--
            -->
    <div class="year">{{ movie.year }}</div>
  </div>
  <span class="genre" *ngFor="let genre of movie.genres">
    <span><b> | </b></span>
    <span>{{ genre }}</span>
  </span>
  <div>
    <button
      [routerLink]="['/movies/'+page, movie.id]"
      class="button button-default pull-left"
    >
      WATCH
    </button>
    <button
      class="button button-rounded color-yellow button-yellow pull-right"
      *ngIf="isFavourite(movie.id,movie.isFavourite)&&isAuthenticated"
      (click)="addToFavourites(movie.id,movie.isFavourite,movie.title)"
    >
      <i class="fa fa-heart"></i>
    </button>
    <button
      class="button button-rounded  pull-right"
      (click)="addToFavourites(movie.id,movie.isFavourite,movie.title)"
      *ngIf="!isFavourite(movie.id,movie.isFavourite)&&isAuthenticated"
    >
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>
