
<div class="row strip max-width" id="movie-details">
<div class="col-md-8">
    <div class="row">
        <div class="col-md-6">
                <div id="rating">7.8</div>
                <div style="font-size:0.8em;">ACTION <b> | </b> ADVENTURE </div>
                <div id="title" ><h1 style="margin-top:0 !important; padding-top:0 !important;"><b>Blade</b></h1></div>
                <div style="font-size:0.8em;">2019 <b> | </b> English <b>| US</b> </div>
                <div class="director"><span><b>Director</b></span><span style="margin-left:10px">Micheal Bay</span></div>
        </div>
        <div class="col-md-6">
           
            </div>
    </div>
    <div class="row">
            <p>Current implementation: Financial date, Agent phone number, Agent name Agent account number Association ID Association Name, and member ID
                    Proposed Implementation: Transaction date, Date initiated Aggregator, Association name. Association ID, Member ID, Agent name, Agent Account number.
                    </p>
    </div>
    
</div>
<div class="col-md-4">

</div>
<div></div>
</div>


