<!--The content below is only a placeholder and can be replaced.-->
<div id="navbar" class="row strip bg-red" (click)="handleLinkClicked()">
  <div class="col-md-2 text-center bg-red-d" style="height: 100%;">
    <a href="/"><img style="max-width:100px" src="../../assets/Logo.png"/></a>
  </div>
  <div class="col-md-9 text-center">
    <input type="text" placeholder="SEARCH HERE ..." id="nav-search" />
  </div>
  <div class="col-md-1 strip text-center bg-red-d" style="height: 100%;">
    <div class="inline" style="padding-top: 4%;">
      <div style="font-size:0.9em; margin-right: 7.5px;">Hello, Tobe</div>
      <div id="profile-image" [routerLink]="['/login']"></div>
    </div>
  </div>
</div>
