<div
  id="login"
  class="max-width"
  [ngStyle]="{
    'background-image': 'url( ../../assets/bg.jpeg)',
    'background-size': 'cover',
    height: '100vh'
  }"
>
  <div class="gradient-overlay"></div>
  <div class="row" style="position: absolute; top:20%;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="ENTER USERNAME"
          />
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
