body {
  margin: 0;
  padding: 0;
  background: #292f3d;
  font-size: 14px;
  font-family: "Barlow", sans-serif !important;
  overflow: hidden;
}
img {
  width: 100%;
}
.strip
{
  padding:0 !important;
  margin:0 !important;
}
.max-width
{
  width:100% !important;
}
.text-center {
  text-align: center !important;
}
.bg-red {
  background: #f30c4e !important;
}
.bg-lighter-grey {
  background: #292f3d !important;
}
.bg-grey {
  background: #1b2132 !important;
}
.bg-yellow {
  background: #f2c94c !important;
}
.inline div{
  display: inline-block;
  vertical-align: bottom;
}
.button
{
  border:0px;
  background: transparent;
  color: white;
  margin-top:20px;
  font-size: 0.8em;
  padding:7.5px 10px 7.5px 10px ;
  border-radius: 5px;
}
.button-default
{
  background: #f30c4e;
  min-width:75%;
}
.button-rounded
{
  width:35px;
  height:35px;
  padding:0;
  border-radius: 40px;
  
}

.button-yellow
{
  border:3px solid #f2c94c;
}